<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>NLP project 2016: Notice and Comment</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">NLP Project 2016: Notice and Comment</a>
      <ul class="right hide-on-med-and-down">
       <li><a href="/index">Overview</a></li>
       <li><a href="/demo">Demo</a></li>
       <li><a href="/evaluate">Evaluation</a></li>
     </ul>

     <ul id="nav-mobile" class="side-nav">
       <li><a href="/index">Overview</a></li>
       <li><a href="/demo">Demo</a></li>
       <li><a href="/evaluate">Evaluation</a></li>
     </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container">
    <div class="section">
  <div class="row">

      <div class="col s12 m12 l12"> 
      <h4>What is it about?</h4>
         <p>“When Congress passes laws, federal agencies implement those laws through regulations. These regulations vary in subject and include everything from ensuring water is safe to drink to setting health care standards. Regulations.gov is the place where users can find and comment on regulations.” - <a href="http://regulationsgov.github.io/developers/">Regulation.gov</a></p>

          <img src="/static/img/regulation_flow_2.png" width='100%'>
      <p>Currently, all the comments are analyzed by government officials. While process works when the volume of comments is low, it fails when a particular regulation receives a large volume of comments. For example, the docket for the Consumer Financial Protection Bureau’s proposed rule on ‘Payday, Vehicle Title, and Certain High-Cost Installment Loans’ received 421,260 comments. Supposing an average of 1 minute is spent per comment, processing these comments would take approximately 878 8-hour work days. In this project, we aim to automatically summarize regulatory documents and cluster comments on those documents to aid policymakers in making better decisions based on the comments. We also hope this project will allow other interested parties to explore the documents and the comments being submitted.</p><br>

      <h4>How does it work?</h4>
      <dl>
         <dt><b>Document keyword extraction</b></dt>
         <dd>This algorithm extracts the keywords in a document. This helps the tool in giving users a high level idea of the topics that the document is talking about, and also acts as an input to other algorithms.</dd>
         <dt><b>Key sentences from document</b></dt>
         <dd>These are the sentences from the document that have the highest importance score, based on three criteria: highest number of our important keywords; longest length (indicating an abundance of information included); and presence of words indicating the sentence is related to the problem the regulation is attempting to solve.</dd>
         <dt><b>Cluster comments based on topic</b></dt>
         <dd>This algorithm clusters the comments on a document using k-means. The number of clusters is determined by the number of common parents for the top unigrams in the main document. The output for this algorithm is a collection of comment clusters based on the topic</dd>
         <dt><b>Pull out central comment cluster sentence</b></dt>
         <dd>As it is hard to determine the semantic meaning behind a cluster, we identified and selected the comment closest to the k-means centroid as a representative of that cluster.</dd>
         <dt><b>Differentiating cluster phrases</b></dt>
         <dd>Having clustered the comments, we merged all of the comments in each cluster into one ‘mega-comment’ and then used TF-IDF across these ‘mega-comments.’ </dd>
        </dl>
      </div>

    </div>
    </div>
    </div>
          

  <footer class="page-footer light-blue darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Credits</h5>
          <p class="grey-text text-lighten-4">This website is part of final project for Applied Natural Language Processing, a course at the UC Berkeley School of Information. The website was designed using template by <a href ="http://materializecss.com/" class="white-text">Materialize</a>. <a href = "http://www.nltk.org/" class="white-text">NLTK library</a> used for NLP processing and <a href = "http://scikit-learn.org/stable/index.html" class="white-text">sci-kit learn</a> was used for clustering.</p>


        </div>
          <div class="col l3 s12">
          </div>
        <div class="col l3 s12">
          <h5 class="white-text">Team members</h5>
          <ul>
            <li><a class="white-text" href="#!">Emily Witt</a></li>
            <li><a class="white-text" href="#!">Jason Danker</a></li>
            <li><a class="white-text" href="#!">Kinshuk</a></li>
            <li><a class="white-text" href="#!">Proxima DasMohapatra</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>

  </body>
</html>
