<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>NLP project 2016</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">NLP Project 2016</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/index" id ="selected">Demo</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/evaluate">Evaluation</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/index" >Demo</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/evaluate">Evaluation</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h3 class="header center light-blue-text text-darken-4">Demystifying government regulations and public comments</h3>
      <div class="row center">
        <h5 class="header col s12 light">Select a regulation from the list to see the analysis</h5>
      </div>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Regulation list  -->
      <div class="row">
        <div class="col l12 s12">
          <div class="collection">
          {{#title_list}}
            <a href="doc/{{id}}" class="collection-item light-blue-text text-darken-4">{{name}}</a>
          {{/title_list}}
        </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer light-blue darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Credits</h5>
          <p class="grey-text text-lighten-4">This website is part of final project for Applied Natural Language Processing, a course at the UC Berkeley School of Information. The website was designed using template by <a href ="http://materializecss.com/" class="white-text">Materialize</a>. <a href = "http://www.nltk.org/" class="white-text">NLTK library</a> used for NLP processing</p>


        </div>
          <div class="col l3 s12">
          </div>
        <div class="col l3 s12">
          <h5 class="white-text">Team members</h5>
          <ul>
            <li><a class="white-text" href="#!">Emily Witt</a></li>
            <li><a class="white-text" href="#!">Jason Danker</a></li>
            <li><a class="white-text" href="#!">Kinshuk</a></li>
            <li><a class="white-text" href="#!">Proxima DasMohapatra</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>

  </body>
</html>
